In [1]:
import pandas as pd


info_tourism = pd.read_csv(r"C:/Users/hp/Desktop/zohaib/semester 8/FYP/tourism_with_id.csv", encoding='latin-1')
tourism_rating = pd.read_csv(r"C:/Users/hp/Desktop/zohaib/semester 8/FYP/tourism_rating.csv")
users = pd.read_csv(r"C:/Users/hp/Desktop/zohaib/semester 8/FYP/user.csv")

In [2]:
info_tourism.sample(5)

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,Unnamed: 11,Unnamed: 12
24,25,Daggar,It is one of the top 100 hotspots of lightning...,Hilly place,Daggar,0,4.0,45.0,"{'lat': 34.51, 'lng': 72.48}",34.51,72.48,NaN,25
17,18,Karak,Karak is an arid region of Southwest KP and is...,Hilly place,Karak,2000,4.7,NaN,"{'lat': 33.11, 'lng': 71.08}",33.11,71.08,NaN,18
5,6,Abbotabad,"It is a popular summer resort, located at the ...",Hilly place,Abbotabad,25000,4.5,10.0,"{'lat': 34.15, 'lng': 73.21}",34.15,73.21,NaN,6
0,1,Peshawar,known for the historical places very old and v...,hilly place,Peshawar,20000,4.6,15.0,"{'lat': 34.00, 'lng':71.50}",34.00,71.50,NaN,1
11,12,Bannu,Tourist attractions around Bannu are mainly in...,Hilly place,Bannu,150000,4.0,NaN,"{'lat': 32.98, 'lng': 70.60}",32.98,70.60,NaN,12

In [3]:
tourism_rating.sample(5)

    User_Id  Place_Id  Place_Ratings
25        1        18              2
21        1        22              3
20        1        23              3
12        1        13              3
13        1        14              5

In [4]:
users.sample(5)

     User_Id                    Location  Age
87        88  Jakarta Timur, DKI Jakarta   27
165      166   Lampung, Sumatera Selatan   26
36        37          Tanggerang, Banten   21
147      148          Bekasi, Jawa Barat   33
265      266          Bekasi, Jawa Barat   32

In [5]:
print(f"Number of places in the datasets : {len(info_tourism.Place_Id.unique())}")
print(f"Number of users : {len(users.User_Id.unique())}")
print(f"The number of ratings given by the user to the dataset : {len(tourism_rating.User_Id)}")

Number of places in the datasets : 28
Number of users : 300
The number of ratings given by the user to the dataset : 28

# Exploratory Data Analysis

In [6]:
info_tourism.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Place_Id      28 non-null     int64
 1   Place_Name    28 non-null     object
 2   Description   28 non-null     object
 3   Category      28 non-null     object
 4   City          28 non-null     object
 5   Price         28 non-null     int64
 6   Rating        28 non-null     float64
 7   Time_Minutes  12 non-null     float64
 8   Coordinate    28 non-null     object
 9   Lat           28 non-null     float64
 10  Long          28 non-null     float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   28 non-null     int64
dtypes: float64(5), int64(3), object(5)
memory usage: 3.0+ KB

In [7]:
info_tourism.isnull().sum()

Place_Id         0
Place_Name       0
Description      0
Category         0
City             0
Price            0
Rating           0
Time_Minutes    16
Coordinate       0
Lat              0
Long             0
Unnamed: 11     28
Unnamed: 12      0
dtype: int64

In [8]:
tourism_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   User_Id        28 non-null     int64
 1   Place_Id       28 non-null     int64
 2   Place_Ratings  28 non-null     int64
dtypes: int64(3)
memory usage: 800.0 bytes

In [9]:
tourism_rating.isnull().sum()

User_Id          0
Place_Id         0
Place_Ratings    0
dtype: int64

In [10]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   User_Id   300 non-null    int64
 1   Location  300 non-null    object
 2   Age       300 non-null    int64
dtypes: int64(2), object(1)
memory usage: 7.2+ KB

In [11]:
info_tourism.Category.unique()

array(['hilly place', 'Hilly place'], dtype=object)

# Data Preprocessing

In [12]:
import numpy as np

tourism_all = np.concatenate((
    info_tourism.Place_Id.unique(),
    tourism_rating.Place_Id.unique()
))

tourism_all = np.sort(np.unique(tourism_all))

print(f"Total number of tourism: {len(tourism_all)}")

Total number of tourism: 28

In [13]:
all_tourism_rate = tourism_rating
all_tourism_rate

    User_Id  Place_Id  Place_Ratings
0         1         1              3
1         1         2              2
2         1         5              5
3         1         3              3
4         1         4              4
5         1         6              2
6         1         8              5
7         1         7              4
8         1         9              2
9         1        10              5
10        1        11              3
11        1        12              5
12        1        13              3
13        1        14              5
14        1        15              5
15        1        28              4
16        1        27              4
17        1        26              3
18        1        25              3
19        1        24              2
20        1        23              3
21        1        22              3
22        1        21              4
23        1        20              5
24        1        19              2
25        1        18              2
26        1        17              4
27        1        16              2

In [14]:
all_tourism = pd.merge(all_tourism_rate,info_tourism[["Place_Id","Place_Name","Description","City","Category"]],on='Place_Id', how='left')
all_tourism

,User_Id,Place_Id,Place_Ratings,Place_Name,Description,City,Category
0,1,1,3,Peshawar,known for the historical places very old and v...,Peshawar,hilly place
1,1,2,2,Saidu Sharif,many tombs in this place,Saidu Sharif,hilly place
2,1,5,5,Kohat,"Kohat is known for crops, vegetables and fruit...",Kohat,Hilly place
3,1,3,3,Mardan,The district is famous for its agriculture ind...,Mardan,hilly place
4,1,4,4,Mingora,Buddhist remains and carvings have been discov...,Mingora,Hilly place
5,1,6,2,Abbotabad,"It is a popular summer resort, located at the ...",Abbotabad,Hilly place
6,1,8,5,Swabi,"The people of Swabi are very hospitable,brave ...",Swabi,Hilly place
7,1,7,4,Nowsehra,The shrine of 16th century's most popular Sufi...,Nowshera,Hilly place
8,1,9,2,Dera Ismail Khan,Dera Ismail Khan is also famous for a desert ...,Dera Ismail Khan,Hilly place
9,1,10,5,Charsada,"The city is famous for Shoes making, Khaddar a...",Charsadda,Hilly place
10,1,11,3,Mansehra,Mansehra District is dominated by high mountai...,Mansehra,Hilly place
11,1,12,5,Bannu,Tourist attractions around Bannu are mainly in...,Bannu,Hilly place
12,1,13,3,Timargara,The people of Timergara are mainly Pashtun.The...,Timargara,Hilly place
13,1,14,5,Parachinar,Parachinar is the headquarters of the Kurram A...,Parachinar,Hilly place
14,1,15,5,Tank,After Independence Tank district became part o...,Tank,Hilly place
15,1,28,4,Dasu,We know of 9 airports in the wider vicinity of...,Dasu,Hilly place
16,1,27,4,Upper Dir,Most the tourist attractions in Dir such as th...,Upper Dir,Hilly place
17,1,26,3,Lakki,A fort in the heart of Marwat which he called ...,Lakki,Hilly place
18,1,25,3,Daggar,It is one of the top 100 hotspots of lightning...,Daggar,Hilly place
19,1,24,2,Alpurai,"Its area is 1586 square kilometers, so its a r...",Alpurai,Hilly place
20,1,23,3,Batgram,This district is noted for its scenic mountain...,Batgram,Hilly place
21,1,22,3,Malakand,"Particularly, the orange (malta) of Malakand ...",Malakand,Hilly place
22,1,21,4,Haripur,Haripur is the main city of the Haripur Distri...,Haripur,Hilly place
23,1,20,5,Kulachi,Kulachi is a city named after the Kulachi Balo...,Kulachi,Hilly place
24,1,19,2,Chitral,Chitral is known for its snowfall and deadly a...,Chitral,Hilly place
25,1,18,2,Karak,Karak is an arid region of Southwest KP and is...,Karak,Hilly place
26,1,17,4,Risalpur,"Risalpur is known as ""Home of Eagles"" and ""Hom...",Risalpur,Hilly place
27,1,16,2,Hangu,Hangu is a city in the Khyber Pakhtunkhwa pro...,Hangu,Hilly place

In [15]:
all_tourism['city_category'] = all_tourism[['City','Category']].agg(' '.join,axis=1)

In [16]:
all_tourism

,User_Id,Place_Id,Place_Ratings,Place_Name,Description,City,Category,city_category
0,1,1,3,Peshawar,known for the historical places very old and v...,Peshawar,hilly place,Peshawar hilly place
1,1,2,2,Saidu Sharif,many tombs in this place,Saidu Sharif,hilly place,Saidu Sharif hilly place
2,1,5,5,Kohat,"Kohat is known for crops, vegetables and fruit...",Kohat,Hilly place,Kohat Hilly place
3,1,3,3,Mardan,The district is famous for its agriculture ind...,Mardan,hilly place,Mardan hilly place
4,1,4,4,Mingora,Buddhist remains and carvings have been discov...,Mingora,Hilly place,Mingora Hilly place
5,1,6,2,Abbotabad,"It is a popular summer resort, located at the ...",Abbotabad,Hilly place,Abbotabad Hilly place
6,1,8,5,Swabi,"The people of Swabi are very hospitable,brave ...",Swabi,Hilly place,Swabi Hilly place
7,1,7,4,Nowsehra,The shrine of 16th century's most popular Sufi...,Nowshera,Hilly place,Nowshera Hilly place
8,1,9,2,Dera Ismail Khan,Dera Ismail Khan is also famous for a desert ...,Dera Ismail Khan,Hilly place,Dera Ismail Khan Hilly place
9,1,10,5,Charsada,"The city is famous for Shoes making, Khaddar a...",Charsadda,Hilly place,Charsadda Hilly place
10,1,11,3,Mansehra,Mansehra District is dominated by high mountai...,Mansehra,Hilly place,Mansehra Hilly place
11,1,12,5,Bannu,Tourist attractions around Bannu are mainly in...,Bannu,Hilly place,Bannu Hilly place
12,1,13,3,Timargara,The people of Timergara are mainly Pashtun.The...,Timargara,Hilly place,Timargara Hilly place
13,1,14,5,Parachinar,Parachinar is the headquarters of the Kurram A...,Parachinar,Hilly place,Parachinar Hilly place
14,1,15,5,Tank,After Independence Tank district became part o...,Tank,Hilly place,Tank Hilly place
15,1,28,4,Dasu,We know of 9 airports in the wider vicinity of...,Dasu,Hilly place,Dasu Hilly place
16,1,27,4,Upper Dir,Most the tourist attractions in Dir such as th...,Upper Dir,Hilly place,Upper Dir Hilly place
17,1,26,3,Lakki,A fort in the heart of Marwat which he called ...,Lakki,Hilly place,Lakki Hilly place
18,1,25,3,Daggar,It is one of the top 100 hotspots of lightning...,Daggar,Hilly place,Daggar Hilly place
19,1,24,2,Alpurai,"Its area is 1586 square kilometers, so its a r...",Alpurai,Hilly place,Alpurai Hilly place
20,1,23,3,Batgram,This district is noted for its scenic mountain...,Batgram,Hilly place,Batgram Hilly place
21,1,22,3,Malakand,"Particularly, the orange (malta) of Malakand ...",Malakand,Hilly place,Malakand Hilly place
22,1,21,4,Haripur,Haripur is the main city of the Haripur Distri...,Haripur,Hilly place,Haripur Hilly place
23,1,20,5,Kulachi,Kulachi is a city named after the Kulachi Balo...,Kulachi,Hilly place,Kulachi Hilly place
24,1,19,2,Chitral,Chitral is known for its snowfall and deadly a...,Chitral,Hilly place,Chitral Hilly place
25,1,18,2,Karak,Karak is an arid region of Southwest KP and is...,Karak,Hilly place,Karak Hilly place
26,1,17,4,Risalpur,"Risalpur is known as ""Home of Eagles"" and ""Hom...",Risalpur,Hilly place,Risalpur Hilly place
27,1,16,2,Hangu,Hangu is a city in the Khyber Pakhtunkhwa pro...,Hangu,Hilly place,Hangu Hilly place

# Data preparation

# missing values

In [17]:
all_tourism.isnull().sum()

User_Id          0
Place_Id         0
Place_Ratings    0
Place_Name       0
Description      0
City             0
Category         0
city_category    0
dtype: int64

In [18]:
preparation= all_tourism.drop_duplicates("Place_Id")
preparation

,User_Id,Place_Id,Place_Ratings,Place_Name,Description,City,Category,city_category
0,1,1,3,Peshawar,known for the historical places very old and v...,Peshawar,hilly place,Peshawar hilly place
1,1,2,2,Saidu Sharif,many tombs in this place,Saidu Sharif,hilly place,Saidu Sharif hilly place
2,1,5,5,Kohat,"Kohat is known for crops, vegetables and fruit...",Kohat,Hilly place,Kohat Hilly place
3,1,3,3,Mardan,The district is famous for its agriculture ind...,Mardan,hilly place,Mardan hilly place
4,1,4,4,Mingora,Buddhist remains and carvings have been discov...,Mingora,Hilly place,Mingora Hilly place
5,1,6,2,Abbotabad,"It is a popular summer resort, located at the ...",Abbotabad,Hilly place,Abbotabad Hilly place
6,1,8,5,Swabi,"The people of Swabi are very hospitable,brave ...",Swabi,Hilly place,Swabi Hilly place
7,1,7,4,Nowsehra,The shrine of 16th century's most popular Sufi...,Nowshera,Hilly place,Nowshera Hilly place
8,1,9,2,Dera Ismail Khan,Dera Ismail Khan is also famous for a desert ...,Dera Ismail Khan,Hilly place,Dera Ismail Khan Hilly place
9,1,10,5,Charsada,"The city is famous for Shoes making, Khaddar a...",Charsadda,Hilly place,Charsadda Hilly place
10,1,11,3,Mansehra,Mansehra District is dominated by high mountai...,Mansehra,Hilly place,Mansehra Hilly place
11,1,12,5,Bannu,Tourist attractions around Bannu are mainly in...,Bannu,Hilly place,Bannu Hilly place
12,1,13,3,Timargara,The people of Timergara are mainly Pashtun.The...,Timargara,Hilly place,Timargara Hilly place
13,1,14,5,Parachinar,Parachinar is the headquarters of the Kurram A...,Parachinar,Hilly place,Parachinar Hilly place
14,1,15,5,Tank,After Independence Tank district became part o...,Tank,Hilly place,Tank Hilly place
15,1,28,4,Dasu,We know of 9 airports in the wider vicinity of...,Dasu,Hilly place,Dasu Hilly place
16,1,27,4,Upper Dir,Most the tourist attractions in Dir such as th...,Upper Dir,Hilly place,Upper Dir Hilly place
17,1,26,3,Lakki,A fort in the heart of Marwat which he called ...,Lakki,Hilly place,Lakki Hilly place
18,1,25,3,Daggar,It is one of the top 100 hotspots of lightning...,Daggar,Hilly place,Daggar Hilly place
19,1,24,2,Alpurai,"Its area is 1586 square kilometers, so its a r...",Alpurai,Hilly place,Alpurai Hilly place
20,1,23,3,Batgram,This district is noted for its scenic mountain...,Batgram,Hilly place,Batgram Hilly place
21,1,22,3,Malakand,"Particularly, the orange (malta) of Malakand ...",Malakand,Hilly place,Malakand Hilly place
22,1,21,4,Haripur,Haripur is the main city of the Haripur Distri...,Haripur,Hilly place,Haripur Hilly place
23,1,20,5,Kulachi,Kulachi is a city named after the Kulachi Balo...,Kulachi,Hilly place,Kulachi Hilly place
24,1,19,2,Chitral,Chitral is known for its snowfall and deadly a...,Chitral,Hilly place,Chitral Hilly place
25,1,18,2,Karak,Karak is an arid region of Southwest KP and is...,Karak,Hilly place,Karak Hilly place
26,1,17,4,Risalpur,"Risalpur is known as ""Home of Eagles"" and ""Hom...",Risalpur,Hilly place,Risalpur Hilly place
27,1,16,2,Hangu,Hangu is a city in the Khyber Pakhtunkhwa pro...,Hangu,Hilly place,Hangu Hilly place

In [19]:
place_id = preparation.Place_Id.tolist()

place_name = preparation.Place_Name.tolist()

place_category = preparation.Category.tolist()

place_desc = preparation.Description.tolist()

place_city = preparation.City.tolist()

city_category = preparation.city_category.tolist()

In [20]:
tourism_new = pd.DataFrame({
    "id":place_id,
    "name":place_name,
    "category":place_category,
    "description":place_desc,
    "city":place_city,
    "city_category":city_category
})

tourism_new

,id,name,category,description,city,city_category
0,1,Peshawar,hilly place,known for the historical places very old and v...,Peshawar,Peshawar hilly place
1,2,Saidu Sharif,hilly place,many tombs in this place,Saidu Sharif,Saidu Sharif hilly place
2,5,Kohat,Hilly place,"Kohat is known for crops, vegetables and fruit...",Kohat,Kohat Hilly place
3,3,Mardan,hilly place,The district is famous for its agriculture ind...,Mardan,Mardan hilly place
4,4,Mingora,Hilly place,Buddhist remains and carvings have been discov...,Mingora,Mingora Hilly place
5,6,Abbotabad,Hilly place,"It is a popular summer resort, located at the ...",Abbotabad,Abbotabad Hilly place
6,8,Swabi,Hilly place,"The people of Swabi are very hospitable,brave ...",Swabi,Swabi Hilly place
7,7,Nowsehra,Hilly place,The shrine of 16th century's most popular Sufi...,Nowshera,Nowshera Hilly place
8,9,Dera Ismail Khan,Hilly place,Dera Ismail Khan is also famous for a desert ...,Dera Ismail Khan,Dera Ismail Khan Hilly place
9,10,Charsada,Hilly place,"The city is famous for Shoes making, Khaddar a...",Charsadda,Charsadda Hilly place
10,11,Mansehra,Hilly place,Mansehra District is dominated by high mountai...,Mansehra,Mansehra Hilly place
11,12,Bannu,Hilly place,Tourist attractions around Bannu are mainly in...,Bannu,Bannu Hilly place
12,13,Timargara,Hilly place,The people of Timergara are mainly Pashtun.The...,Timargara,Timargara Hilly place
13,14,Parachinar,Hilly place,Parachinar is the headquarters of the Kurram A...,Parachinar,Parachinar Hilly place
14,15,Tank,Hilly place,After Independence Tank district became part o...,Tank,Tank Hilly place
15,28,Dasu,Hilly place,We know of 9 airports in the wider vicinity of...,Dasu,Dasu Hilly place
16,27,Upper Dir,Hilly place,Most the tourist attractions in Dir such as th...,Upper Dir,Upper Dir Hilly place
17,26,Lakki,Hilly place,A fort in the heart of Marwat which he called ...,Lakki,Lakki Hilly place
18,25,Daggar,Hilly place,It is one of the top 100 hotspots of lightning...,Daggar,Daggar Hilly place
19,24,Alpurai,Hilly place,"Its area is 1586 square kilometers, so its a r...",Alpurai,Alpurai Hilly place
20,23,Batgram,Hilly place,This district is noted for its scenic mountain...,Batgram,Batgram Hilly place
21,22,Malakand,Hilly place,"Particularly, the orange (malta) of Malakand ...",Malakand,Malakand Hilly place
22,21,Haripur,Hilly place,Haripur is the main city of the Haripur Distri...,Haripur,Haripur Hilly place
23,20,Kulachi,Hilly place,Kulachi is a city named after the Kulachi Balo...,Kulachi,Kulachi Hilly place
24,19,Chitral,Hilly place,Chitral is known for its snowfall and deadly a...,Chitral,Chitral Hilly place
25,18,Karak,Hilly place,Karak is an arid region of Southwest KP and is...,Karak,Karak Hilly place
26,17,Risalpur,Hilly place,"Risalpur is known as ""Home of Eagles"" and ""Hom...",Risalpur,Risalpur Hilly place
27,16,Hangu,Hilly place,Hangu is a city in the Khyber Pakhtunkhwa pro...,Hangu,Hangu Hilly place

In [21]:
data = tourism_new
data.sample(5)

,id,name,category,description,city,city_category
1,2,Saidu Sharif,hilly place,many tombs in this place,Saidu Sharif,Saidu Sharif hilly place
9,10,Charsada,Hilly place,"The city is famous for Shoes making, Khaddar a...",Charsadda,Charsadda Hilly place
20,23,Batgram,Hilly place,This district is noted for its scenic mountain...,Batgram,Batgram Hilly place
16,27,Upper Dir,Hilly place,Most the tourist attractions in Dir such as th...,Upper Dir,Upper Dir Hilly place
5,6,Abbotabad,Hilly place,"It is a popular summer resort, located at the ...",Abbotabad,Abbotabad Hilly place

# TF-IDF Vectorizer

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

In [23]:
user_description = "User's description of the place"

In [24]:
cv = CountVectorizer()
cv_matrix = cv.fit_transform(data['description'] + ' ' + user_description)

In [25]:
cosine_sim = cosine_similarity(cv_matrix)
cosine_sim_df = pd.DataFrame(cosine_sim, index=data['name'], columns=data['name'])

In [50]:
# Recommendation function
def tourism_recommendations(user_description, similarity_data=cosine_sim_df, items=data[['name','category','description','city']], k=5):
    # Preprocessing and feature extraction
    cv_user = CountVectorizer(vocabulary=cv.vocabulary_)
    cv_user_matrix = cv_user.transform([user_description])

    # Calculate cosine similarity between user description and place descriptions
    cosine_sim_user = cosine_similarity(cv_user_matrix, cv_matrix)
    cosine_sim_user = cosine_sim_user.flatten()

    # Get top-k similar places
    indices = cosine_sim_user.argsort()[:-k-1:-1]
    closest = items.loc[indices, 'name']

    return pd.DataFrame(closest).merge(items).head(k)

# Example usage
user_description = "want to visit historical places wants to see Tanks and guns"

# Preprocessing and feature extraction
cv = CountVectorizer()
cv_matrix = cv.fit_transform(data['description'])

# Cosine similarity calculation
cosine_sim = cosine_similarity(cv_matrix)
cosine_sim_df = pd.DataFrame(cosine_sim, index=data['name'], columns=data['name'])

# Call the recommendation function
recommendations = tourism_recommendations(user_description)
print(recommendations)

       name     category                                        description  \
0   Alpurai  Hilly place  Its area is 1586 square kilometers, so its a r...
1      Tank  Hilly place  After Independence Tank district became part o...
2     Lakki  Hilly place  A fort in the heart of Marwat which he called ...
3  Peshawar  hilly place  known for the historical places very old and v...
4     Kohat  Hilly place  Kohat is known for crops, vegetables and fruit...

       city
0   Alpurai
1      Tank
2     Lakki
3  Peshawar
4     Kohat